[submodule "packages/hasura"]
	path = packages/hasura
	url = https://github.com/deepcase/hasura.git
[submodule "packages/deeplinks"]
	path = packages/deeplinks
	url = https://github.com/deepcase/deeplinks.git
	branch = deeplinks-21-menzorg
[submodule "packages/materialized-path"]
	path = packages/materialized-path
	url = https://github.com/deepcase/materialized-path.git
[submodule "packages/store"]
	path = packages/store
	url = https://github.com/deep-foundation/store.git
[submodule "packages/react-hasura"]
	path = packages/react-hasura
	url = https://github.com/deep-foundation/react-hasura.git
[submodule "packages/deepcase"]
	path = packages/deepcase
	url = https://github.com/deep-foundation/deepcase.git
[submodule "packages/gh-pages"]
	path = packages/gh-pages
	url = https://github.com/deep-foundation/deepcase.github.io.git
