[submodule "packages/store"]
	path = packages/store
	url = https://github.com/deepcase/store.git
[submodule "packages/store-example"]
	path = packages/store-example
	url = https://github.com/deepcase/store.git
	branch=example
[submodule "packages/store-gh-pages"]
	path = packages/store-gh-pages
	url = https://github.com/deepcase/store.git
	branch=gh-pages
[submodule "packages/hasura"]
	path = packages/hasura
	url = https://github.com/deepcase/hasura
[submodule "packages/hasura-example"]
	path = packages/hasura-example
	url = https://github.com/deepcase/hasura
[submodule "packages/hasura-gh-pages"]
	path = packages/hasura-gh-pages
	url = https://github.com/deepcase/hasura
