node_modules
*.log
.DS_Store
.vscode/settings.json
prebuild-is-ready.txt
prebuild-is-started.txt
gitpod-prebuild.log.txt
gitpod-start.log.txt
local.log.txt
local.packages.log.txt
local.migrations.log.txt
log.txt