[submodule "packages/hasura"]
	path = packages/hasura
	url = https://github.com/deepcase/hasura
[submodule "packages/hasura-example"]
	path = packages/hasura-example
	url = https://github.com/deepcase/hasura
[submodule "packages/hasura-gh-pages"]
	path = packages/hasura-gh-pages
	url = https://github.com/deepcase/hasura
[submodule "packages/react-hasura"]
	path = packages/react-hasura
	url = https://github.com/deepcase/react-hasura.git
[submodule "packages/materialized-path"]
	path = packages/materialized-path
	url = https://github.com/deepcase/materialized-path.git
[submodule "packages/atomic-models-hasura-permissions"]
	path = packages/atomic-models-hasura-permissions
	url = https://github.com/deepcase/atomic-models-hasura-permission.git
[submodule "packages/deeplinks"]
	path = packages/deeplinks
	url = https://github.com/deepcase/deeplinks.git
[submodule "packages/deeplinks-app"]
	path = packages/deeplinks-app
	url = https://github.com/deepcase/deeplinks.git
	branch = app
